parameters:
	ignoreErrors:
		-
			message: "#^Call to method assignMultiple\\(\\) on an unknown class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView\\.$#"
			count: 1
			path: Classes/Backend/Form/Container/InlineCloudinaryControlContainer.php

		-
			message: "#^Call to method render\\(\\) on an unknown class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView\\.$#"
			count: 1
			path: Classes/Backend/Form/Container/InlineCloudinaryControlContainer.php

		-
			message: "#^Call to method setTemplatePathAndFilename\\(\\) on an unknown class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView\\.$#"
			count: 1
			path: Classes/Backend/Form/Container/InlineCloudinaryControlContainer.php

		-
			message: "#^Class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView not found\\.$#"
			count: 1
			path: Classes/Backend/Form/Container/InlineCloudinaryControlContainer.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Backend\\\\Form\\\\Container\\\\InlineCloudinaryControlContainer\\:\\:initializeStandaloneView\\(\\) has invalid return type TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView\\.$#"
			count: 1
			path: Classes/Backend/Form/Container/InlineCloudinaryControlContainer.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Backend\\\\Form\\\\Container\\\\InlineCloudinaryControlContainer\\:\\:renderPossibleRecordsSelectorTypeGroupDB\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: Classes/Backend/Form/Container/InlineCloudinaryControlContainer.php

		-
			message: "#^PHPDoc tag @var for variable \\$view contains unknown class TYPO3\\\\CMS\\\\Fluid\\\\View\\\\StandaloneView\\.$#"
			count: 1
			path: Classes/Backend/Form/Container/InlineCloudinaryControlContainer.php

		-
			message: "#^Parameter \\#1 \\$uid of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceFactory\\:\\:getStorageObject\\(\\) expects int\\|null, int\\|string given\\.$#"
			count: 1
			path: Classes/Backend/Form/Container/InlineCloudinaryControlContainer.php

		-
			message: "#^PHPDoc tag @return with type object is not subtype of native type TYPO3\\\\CMS\\\\Core\\\\Resource\\\\Folder\\.$#"
			count: 1
			path: Classes/CloudinaryFactory.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: Classes/Command/AbstractCloudinaryCommand.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Command\\\\AbstractCloudinaryCommand\\:\\:error\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/AbstractCloudinaryCommand.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Command\\\\AbstractCloudinaryCommand\\:\\:log\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/AbstractCloudinaryCommand.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Command\\\\AbstractCloudinaryCommand\\:\\:success\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/AbstractCloudinaryCommand.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Command\\\\AbstractCloudinaryCommand\\:\\:warning\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/AbstractCloudinaryCommand.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Command\\\\AbstractCloudinaryCommand\\:\\:writeLog\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/AbstractCloudinaryCommand.php

		-
			message: "#^Parameter \\#2 \\$string of static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:trimExplode\\(\\) expects string, mixed given\\.$#"
			count: 2
			path: Classes/Command/AbstractCloudinaryCommand.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Command\\\\CloudinaryAcceptanceTestCommand\\:\\:tearDown\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/CloudinaryAcceptanceTestCommand.php

		-
			message: "#^Parameter \\#2 \\$string of static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:trimExplode\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryAcceptanceTestCommand.php

		-
			message: "#^Parameter \\#1 \\$publicId of method Cloudinary\\\\Api\\\\Admin\\\\AdminApi\\:\\:asset\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryApiCommand.php

		-
			message: "#^Parameter \\#1 \\$uid of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceFactory\\:\\:getStorageObject\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryApiCommand.php

		-
			message: "#^Parameter \\#1 \\$value of method Cloudinary\\\\Api\\\\Search\\\\SearchApi\\:\\:nextCursor\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryApiCommand.php

		-
			message: "#^Part \\$expression \\(mixed\\) of encapsed string cannot be cast to string\\.$#"
			count: 1
			path: Classes/Command/CloudinaryApiCommand.php

		-
			message: "#^Variable \\$response in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: Classes/Command/CloudinaryApiCommand.php

		-
			message: "#^Cannot call method exists\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null\\.$#"
			count: 2
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Cannot call method getForLocalProcessing\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null\\.$#"
			count: 1
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Cannot call method getIdentifier\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null\\.$#"
			count: 4
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Cannot call method getName\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null\\.$#"
			count: 1
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Cannot call method getParentFolder\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null\\.$#"
			count: 1
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Constant LF not found\\.$#"
			count: 1
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Command\\\\CloudinaryCopyCommand\\:\\:ensureDirectoryExistence\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Parameter \\#1 \\$fileObject of method Visol\\\\Cloudinary\\\\Command\\\\CloudinaryCopyCommand\\:\\:download\\(\\) expects TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File, TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Parameter \\#1 \\$string of function rtrim expects string, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Parameter \\#1 \\$uid of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceFactory\\:\\:getStorageObject\\(\\) expects int\\|null, mixed given\\.$#"
			count: 2
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Parameter \\#2 \\$targetFolder of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceStorage\\:\\:addFile\\(\\) expects TYPO3\\\\CMS\\\\Core\\\\Resource\\\\Folder, TYPO3\\\\CMS\\\\Core\\\\Resource\\\\FolderInterface given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Property Visol\\\\Cloudinary\\\\Command\\\\AbstractCloudinaryCommand\\:\\:\\$isSilent \\(bool\\) does not accept mixed\\.$#"
			count: 1
			path: Classes/Command/CloudinaryCopyCommand.php

		-
			message: "#^Parameter \\#1 \\$uid of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceFactory\\:\\:getStorageObject\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryFixImageDimensionCommand.php

		-
			message: "#^Property Visol\\\\Cloudinary\\\\Command\\\\AbstractCloudinaryCommand\\:\\:\\$isSilent \\(bool\\) does not accept mixed\\.$#"
			count: 1
			path: Classes/Command/CloudinaryFixImageDimensionCommand.php

		-
			message: "#^Method Doctrine\\\\DBAL\\\\Driver\\\\Connection\\:\\:query\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: Classes/Command/CloudinaryFixJpegCommand.php

		-
			message: "#^Parameter \\#1 \\$uid of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceFactory\\:\\:getStorageObject\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryFixJpegCommand.php

		-
			message: "#^Property Visol\\\\Cloudinary\\\\Command\\\\AbstractCloudinaryCommand\\:\\:\\$isSilent \\(bool\\) does not accept mixed\\.$#"
			count: 1
			path: Classes/Command/CloudinaryFixJpegCommand.php

		-
			message: "#^Parameter \\#1 \\$fileIdentifier of method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryPathService\\:\\:computeCloudinaryPublicId\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMetadataCommand.php

		-
			message: "#^Parameter \\#1 \\$uid of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceFactory\\:\\:getStorageObject\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMetadataCommand.php

		-
			message: "#^Cannot call method exists\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Cannot call method getIdentifier\\(\\) on TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null\\.$#"
			count: 8
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Constant LF not found\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^PHPDoc tag @var has invalid value \\(\\$fileObject\\)\\: Unexpected token \"\\$fileObject\", expected type at offset 10$#"
			count: 1
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Parameter \\#1 \\$fileObject of method Visol\\\\Cloudinary\\\\Command\\\\CloudinaryMoveCommand\\:\\:isFileSkipped\\(\\) expects TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File, TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Parameter \\#1 \\$fileObject of method Visol\\\\Cloudinary\\\\Services\\\\FileMoveService\\:\\:changeStorage\\(\\) expects TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File, TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Parameter \\#1 \\$fileObject of method Visol\\\\Cloudinary\\\\Services\\\\FileMoveService\\:\\:cloudinaryUploadFile\\(\\) expects TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File, TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Parameter \\#1 \\$fileObject of method Visol\\\\Cloudinary\\\\Services\\\\FileMoveService\\:\\:fileExists\\(\\) expects TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File, TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File\\|TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ProcessedFile\\|null given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Parameter \\#1 \\$uid of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceFactory\\:\\:getStorageObject\\(\\) expects int\\|null, mixed given\\.$#"
			count: 2
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Parameter \\#3 \\$baseUrl of method Visol\\\\Cloudinary\\\\Services\\\\FileMoveService\\:\\:cloudinaryUploadFile\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Property Visol\\\\Cloudinary\\\\Command\\\\AbstractCloudinaryCommand\\:\\:\\$isSilent \\(bool\\) does not accept mixed\\.$#"
			count: 1
			path: Classes/Command/CloudinaryMoveCommand.php

		-
			message: "#^Parameter \\#1 \\$folderIdentifier of method Visol\\\\Cloudinary\\\\Command\\\\CloudinaryQueryCommand\\:\\:getFolder\\(\\) expects string, mixed given\\.$#"
			count: 4
			path: Classes/Command/CloudinaryQueryCommand.php

		-
			message: "#^Parameter \\#1 \\$regularExpression of static method Visol\\\\Cloudinary\\\\Filters\\\\RegularExpressionFilter\\:\\:setRegularExpression\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryQueryCommand.php

		-
			message: "#^Parameter \\#1 \\$uid of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceFactory\\:\\:getStorageObject\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryQueryCommand.php

		-
			message: "#^Parameter \\#3 \\$recursive of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceStorage\\:\\:countFilesInFolder\\(\\) expects bool, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryQueryCommand.php

		-
			message: "#^Parameter \\#3 \\$recursive of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceStorage\\:\\:countFoldersInFolder\\(\\) expects bool, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryQueryCommand.php

		-
			message: "#^Parameter \\#5 \\$recursive of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceStorage\\:\\:getFilesInFolder\\(\\) expects bool, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryQueryCommand.php

		-
			message: "#^Parameter \\#5 \\$recursive of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceStorage\\:\\:getFoldersInFolder\\(\\) expects bool, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryQueryCommand.php

		-
			message: "#^Parameter \\#1 \\$uid of method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\ResourceFactory\\:\\:getStorageObject\\(\\) expects int\\|null, mixed given\\.$#"
			count: 1
			path: Classes/Command/CloudinaryScanCommand.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\FileInterface\\:\\:getUid\\(\\)\\.$#"
			count: 2
			path: Classes/Controller/CloudinaryAjaxController.php

		-
			message: "#^Cannot access offset 'cloudinaryIds' on array\\|object\\|null\\.$#"
			count: 1
			path: Classes/Controller/CloudinaryAjaxController.php

		-
			message: "#^Cannot access offset 'storageUid' on array\\|object\\|null\\.$#"
			count: 1
			path: Classes/Controller/CloudinaryAjaxController.php

		-
			message: "#^Cannot access offset 0 on mixed\\.$#"
			count: 1
			path: Classes/Controller/CloudinaryAjaxController.php

		-
			message: "#^Parameter \\#1 \\$string of method Psr\\\\Http\\\\Message\\\\StreamInterface\\:\\:write\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Controller/CloudinaryAjaxController.php

		-
			message: "#^PHPDoc tag @return with type string is incompatible with native type Psr\\\\Http\\\\Message\\\\ResponseInterface\\.$#"
			count: 1
			path: Classes/Controller/CloudinaryScanController.php

		-
			message: "#^PHPDoc tag @return with type object is not subtype of native type TYPO3\\\\CMS\\\\Core\\\\Database\\\\Connection\\.$#"
			count: 1
			path: Classes/Domain/Repository/ExplicitDataCacheRepository.php

		-
			message: "#^PHPDoc tag @return with type object is not subtype of native type TYPO3\\\\CMS\\\\Core\\\\Database\\\\Query\\\\QueryBuilder\\.$#"
			count: 1
			path: Classes/Domain/Repository/ExplicitDataCacheRepository.php

		-
			message: "#^PHPDoc tag @var has invalid value \\(\\$tableName\\)\\: Unexpected token \"\\$tableName\", expected type at offset 16$#"
			count: 1
			path: Classes/Domain/Repository/ExplicitDataCacheRepository.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, mixed given\\.$#"
			count: 2
			path: Classes/Domain/Repository/ExplicitDataCacheRepository.php

		-
			message: "#^Parameter \\#1 \\$string of function sha1 expects string, string\\|false given\\.$#"
			count: 1
			path: Classes/Domain/Repository/ExplicitDataCacheRepository.php

		-
			message: "#^Property Visol\\\\Cloudinary\\\\Domain\\\\Repository\\\\ExplicitDataCacheRepository\\:\\:\\$tableName has no type specified\\.$#"
			count: 1
			path: Classes/Domain/Repository/ExplicitDataCacheRepository.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 3
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Cannot access offset 0 on callable\\(\\)\\: mixed\\.$#"
			count: 1
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Cannot access offset 1 on callable\\(\\)\\: mixed\\.$#"
			count: 1
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Driver\\\\CloudinaryDriver\\:\\:getFileContents\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Driver\\\\CloudinaryDriver\\:\\:isFolderEmpty\\(\\) should return bool but returns int\\.$#"
			count: 1
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Driver\\\\CloudinaryDriver\\:\\:sanitizeFileName\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Offset 'filename' does not exist on array\\<string\\>\\|string\\.$#"
			count: 1
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Offset 'type' does not exist on array\\{\\}\\.$#"
			count: 1
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Parameter \\#1 \\$folder of method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryFolderService\\:\\:delete\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Parameter \\#1 \\$publicId of method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryResourceService\\:\\:delete\\(\\) expects string, mixed given\\.$#"
			count: 2
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Parameter \\#1 \\$string of function rtrim expects string, string\\|null given\\.$#"
			count: 1
			path: Classes/Driver/CloudinaryDriver.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Filters\\\\RegularExpressionFilter\\:\\:filter\\(\\) should return bool but returns int\\|true\\.$#"
			count: 1
			path: Classes/Filters/RegularExpressionFilter.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Filters\\\\RegularExpressionFilter\\:\\:getFinalRegularExpression\\(\\) should return bool but returns string\\.$#"
			count: 1
			path: Classes/Filters/RegularExpressionFilter.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Filters\\\\RegularExpressionFilter\\:\\:setRegularExpression\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Filters/RegularExpressionFilter.php

		-
			message: "#^Parameter \\#1 \\$pattern of function preg_match expects string, bool given\\.$#"
			count: 1
			path: Classes/Filters/RegularExpressionFilter.php

		-
			message: "#^Access to an undefined property Visol\\\\Cloudinary\\\\Services\\\\AbstractCloudinaryMediaService\\:\\:\\$explicitDataCacheRepository\\.$#"
			count: 2
			path: Classes/Services/AbstractCloudinaryMediaService.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Driver\\\\Connection\\:\\:delete\\(\\)\\.$#"
			count: 2
			path: Classes/Services/CloudinaryFolderService.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Driver\\\\Connection\\:\\:insert\\(\\)\\.$#"
			count: 1
			path: Classes/Services/CloudinaryFolderService.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Driver\\\\Connection\\:\\:update\\(\\)\\.$#"
			count: 2
			path: Classes/Services/CloudinaryFolderService.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: Classes/Services/CloudinaryFolderService.php

		-
			message: "#^Cannot access offset 'width' on mixed\\.$#"
			count: 2
			path: Classes/Services/CloudinaryImageService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryImageService\\:\\:max\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Services/CloudinaryImageService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryImageService\\:\\:max\\(\\) has parameter \\$items with no type specified\\.$#"
			count: 1
			path: Classes/Services/CloudinaryImageService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryImageService\\:\\:median\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Services/CloudinaryImageService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryImageService\\:\\:median\\(\\) has parameter \\$items with no type specified\\.$#"
			count: 1
			path: Classes/Services/CloudinaryImageService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryImageService\\:\\:min\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Services/CloudinaryImageService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryImageService\\:\\:min\\(\\) has parameter \\$items with no type specified\\.$#"
			count: 1
			path: Classes/Services/CloudinaryImageService.php

		-
			message: "#^Offset 'explicit_data' does not exist on array\\|null\\.$#"
			count: 1
			path: Classes/Services/CloudinaryImageService.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\{\\$this\\(Visol\\\\Cloudinary\\\\Services\\\\CloudinaryImageService\\), string\\} given\\.$#"
			count: 1
			path: Classes/Services/CloudinaryImageService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryPathService\\:\\:stripBasePathFromIdentifier\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: Classes/Services/CloudinaryPathService.php

		-
			message: "#^Offset 'dirname' does not exist on array\\<string\\>\\|string\\.$#"
			count: 1
			path: Classes/Services/CloudinaryPathService.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Driver\\\\Connection\\:\\:delete\\(\\)\\.$#"
			count: 2
			path: Classes/Services/CloudinaryResourceService.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Driver\\\\Connection\\:\\:insert\\(\\)\\.$#"
			count: 1
			path: Classes/Services/CloudinaryResourceService.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Driver\\\\Connection\\:\\:update\\(\\)\\.$#"
			count: 2
			path: Classes/Services/CloudinaryResourceService.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: Classes/Services/CloudinaryResourceService.php

		-
			message: "#^Parameter \\#2 \\$timestamp of function date expects int\\|null, int\\|false given\\.$#"
			count: 2
			path: Classes/Services/CloudinaryResourceService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryScanService\\:\\:console\\(\\) has parameter \\$additionalBlankLine with no type specified\\.$#"
			count: 1
			path: Classes/Services/CloudinaryScanService.php

		-
			message: "#^Parameter \\#1 \\$value of method Cloudinary\\\\Api\\\\Search\\\\SearchApi\\:\\:nextCursor\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/Services/CloudinaryScanService.php

		-
			message: "#^Variable \\$response in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: Classes/Services/CloudinaryScanService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryTestConnectionService\\:\\:test\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Services/CloudinaryTestConnectionService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\CloudinaryUploadService\\:\\:uploadLocalFile\\(\\) should return TYPO3\\\\CMS\\\\Core\\\\Resource\\\\File but returns TYPO3\\\\CMS\\\\Core\\\\Resource\\\\FileInterface\\.$#"
			count: 1
			path: Classes/Services/CloudinaryUploadService.php

		-
			message: "#^Call to an undefined method Doctrine\\\\DBAL\\\\Driver\\\\Connection\\:\\:update\\(\\)\\.$#"
			count: 1
			path: Classes/Services/FileMoveService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\FileMoveService\\:\\:ensureDirectoryExistence\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Services/FileMoveService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\FileMoveService\\:\\:getCloudinaryPathService\\(\\) should return Visol\\\\Cloudinary\\\\Services\\\\CloudinaryPathService but returns Visol\\\\Cloudinary\\\\Services\\\\CloudinaryPathService\\|null\\.$#"
			count: 1
			path: Classes/Services/FileMoveService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Services\\\\FileMoveService\\:\\:initializeCloudinaryService\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/Services/FileMoveService.php

		-
			message: "#^Variable \\$resource in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: Classes/Services/FileMoveService.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\Utility\\\\CloudinaryFileUtility\\:\\:getTemporaryFile\\(\\) has parameter \\$storageUid with no type specified\\.$#"
			count: 1
			path: Classes/Utility/CloudinaryFileUtility.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\FileInterface\\:\\:getOriginalFile\\(\\)\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageDataViewHelper.php

		-
			message: "#^Cannot access offset 'path' on array\\{scheme\\?\\: string, host\\?\\: string, port\\?\\: int\\<0, 65535\\>, user\\?\\: string, pass\\?\\: string, path\\?\\: string, query\\?\\: string, fragment\\?\\: string\\}\\|false\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageDataViewHelper.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\ViewHelpers\\\\CloudinaryImageDataViewHelper\\:\\:injectImageService\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageDataViewHelper.php

		-
			message: "#^Parameter \\#1 \\$identifier of method TYPO3Fluid\\\\Fluid\\\\Core\\\\Variables\\\\VariableProviderInterface\\:\\:add\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageDataViewHelper.php

		-
			message: "#^Parameter \\#1 \\$identifier of method TYPO3Fluid\\\\Fluid\\\\Core\\\\Variables\\\\VariableProviderInterface\\:\\:remove\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageDataViewHelper.php

		-
			message: "#^Parameter \\#1 \\$src of method TYPO3\\\\CMS\\\\Extbase\\\\Service\\\\ImageService\\:\\:getImage\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageDataViewHelper.php

		-
			message: "#^Parameter \\#1 \\$url of function parse_url expects string, mixed given\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageDataViewHelper.php

		-
			message: "#^Parameter \\#2 \\$image of method TYPO3\\\\CMS\\\\Extbase\\\\Service\\\\ImageService\\:\\:getImage\\(\\) expects TYPO3\\\\CMS\\\\Core\\\\Resource\\\\FileInterface\\|TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\FileReference\\|null, mixed given\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageDataViewHelper.php

		-
			message: "#^Parameter \\#3 \\$treatIdAsReference of method TYPO3\\\\CMS\\\\Extbase\\\\Service\\\\ImageService\\:\\:getImage\\(\\) expects bool, mixed given\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageDataViewHelper.php

		-
			message: "#^Call to an undefined method TYPO3\\\\CMS\\\\Core\\\\Resource\\\\FileInterface\\:\\:getOriginalFile\\(\\)\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageViewHelper.php

		-
			message: "#^Method Visol\\\\Cloudinary\\\\ViewHelpers\\\\CloudinaryImageViewHelper\\:\\:injectImageService\\(\\) has no return type specified\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageViewHelper.php

		-
			message: "#^Parameter \\#1 \\$src of method TYPO3\\\\CMS\\\\Extbase\\\\Service\\\\ImageService\\:\\:getImage\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageViewHelper.php

		-
			message: "#^Parameter \\#2 \\$image of method TYPO3\\\\CMS\\\\Extbase\\\\Service\\\\ImageService\\:\\:getImage\\(\\) expects TYPO3\\\\CMS\\\\Core\\\\Resource\\\\FileInterface\\|TYPO3\\\\CMS\\\\Extbase\\\\Domain\\\\Model\\\\FileReference\\|null, mixed given\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageViewHelper.php

		-
			message: "#^Parameter \\#3 \\$treatIdAsReference of method TYPO3\\\\CMS\\\\Extbase\\\\Service\\\\ImageService\\:\\:getImage\\(\\) expects bool, mixed given\\.$#"
			count: 1
			path: Classes/ViewHelpers/CloudinaryImageViewHelper.php
