includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - Classes
        - Configuration
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#does not accept object.$#'
        -
            message: '#^Call to an undefined method object#'
        -
            message: '#^Cannot call method fetch.* on Doctrine\\DBAL\\Result\|int#'
        -
            message: '#should return .* but returns object.#'
